<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>" dir="<%= t'html.dir' %>">
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <%= javascript_strings %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'site' %>
    <%= javascript_include_tag 'menu' %>
    <!--[if lt IE 7]><%= javascript_include_tag 'pngfix' %><![endif]--> <!-- thanks, microsoft! -->
    <%= stylesheet_link_tag 'common' %>
    <!--[if IE]><%= stylesheet_link_tag 'large', :media => "screen" %><![endif]--> <!-- IE is totally broken with CSS media queries -->
    <%= stylesheet_link_tag 'small', :media => "only screen and (max-width: 481px)" %>
    <%= stylesheet_link_tag 'large', :media => "screen and (min-width: 482px)" %> 
    <%= stylesheet_link_tag 'print', :media => "print" %>
    <%= stylesheet_link_tag 'slim' %>
    <%= tag("link", { :rel => "search", :type => "application/opensearchdescription+xml", :title => "OpenStreetMap Search", :href => "/opensearch/osm.xml" }) %>
    <%= tag("meta", { :name => "description", :content => "OpenStreetMap is the free wiki world map." }) %>
    <%= style_rules %>
    <%= yield :head %>
    <title><%= t 'layouts.project_name.title' %><%= ' | '+ h(@title) if @title %></title>
  </head>
  <body>

    <div id="slim_content">
      <% if flash[:error] %>
        <div id="error"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:warning] %>
        <div id="warning"><%= flash[:warning] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div>

    <div id="slim_header">
      <%= image_tag("osm_logo.png", :size => "60x60", :border => 0, :alt => t('layouts.logo.alt_text')) %>
      <span id="greeting">
        <% if @user and @user.id %>
          <span id="full-greeting"><%= t 'layouts.welcome_user', :user_link => (link_to h(@user.display_name), {:controller => 'user', :action => 'view', :display_name => @user.display_name}, :title => t('layouts.welcome_user_link_tooltip')) %></span>
          <span id="small-greeting"><%= link_to t('layouts.welcome_user_link_tooltip'), {:controller => 'user', :action => 'view', :display_name => @user.display_name} %></span> |
          <%= yield :greeting %>
          <%= render :partial => "layouts/inbox" %> |
          <%= link_to t('layouts.logout'), {:controller => 'user', :action => 'logout', :session => request.session_options[:id], :referer => request.request_uri}, {:id => 'logoutanchor', :title => t('layouts.logout_tooltip'), :method => :post, :href => url_for(:controller => 'user', :action => 'logout', :referer => request.request_uri)}%>
        <% else %>
          <%= link_to t('layouts.log_in'), {:controller => 'user', :action => 'login', :referer => request.request_uri}, {:id => 'loginanchor', :title => t('layouts.log_in_tooltip')} %> |
          <%= link_to t('layouts.sign_up'), {:controller => 'user', :action => 'new'}, {:id => 'registeranchor', :title => t('layouts.sign_up_tooltip')} %>
        <% end %>
      </span>
    </div>



  </body>
</html>
